*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(imagens/eafc25.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    max-width: 95rem;
    margin: 0 auto;
}

header{
    background-image: linear-gradient(to right, rgb(13, 109, 13), rgb(46, 206, 46));
    margin-top: 2em;
    text-align: center;
    color: white;
}

img{
    height: initial; 
    margin: auto; 
    max-height: 293px; 
    width: 209px;
}

section{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    row-gap: 2rem;
    
}

section h2{
    text-align:center;
    background-color: rgb(41, 176, 41);
    margin-top: 1em;
    flex-basis: 100%;
}

section div{
    background-color: rgb(58, 59, 59);
    margin-top: 2em;
    padding: 0.5em;
    flex-basis: 20%;
    border: 2px solid black;
    border-radius: 0.9rem;
    box-shadow: 0px 0px 5px rgb(38, 255, 38);
    text-align: center;
    color: rgb(255, 255, 255);
}

div:hover{
    background-color: rgb(141, 133, 133);
}

